body{
  background-color: #f2f2f2;



}

.rock{

  background-color: #c0c0c0;
  width: 50%;
  margin: 20%;
  padding: 50px;
  position:relative;
  background-position:center;

  border-radius: 10px;
  text-align: center;
  margin-left:;
}


#signin{

  font-family:cursive;
  font-weight: bold;



}
a{
  text-decoration: none;
  color: #3a3a3a;


}
